@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #83b0f8;
  --primary-hover: #d5e1f4;
  --secondary: #a0d9d0;
  --secondary-hover: #d1f0eb;
  --tertiary: #f7c59f;
  --tertiary-hover: #fde8d4;
  --background: #fafbff;
  --surface: #ffffff;
  --text-primary: #1a1a1a;
  --text-secondary: #4d4d4d;
  --border: #e0e0e0;
  --shadow: rgba(0, 0, 0, 0.05);
  --button-text: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --black: #000000;
  --gray: #2b2a2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-dark: var(--secondary);
  --color-gray: var(--gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
